<%- include('./partials/header.ejs') %>
  <h1>List of Skills</h1>
  <table>
    <tr>
      <th>Skill</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% skills.forEach((skill) => { %>
      <tr>
        <td>
          <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
        </td>
        <td>
        <a href="/skills/<%= skill.id %>/edit">Edit</a>
      </td>
        <td>
        <form action="/skills/<%= skill.id %>?__method=DELETE" method="POST">
          <button type="submit">X</button>
        </form>
      </td>
      </tr>
    <%})  %>
  </table>
  <a id="addLink" href="/skills/new">Add New Skill</a>
<%- include('./partials/footer.ejs') %>
